<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/5.14.0/css/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="row" style="margin: 20px;">
		<div class="col-md-6">
			<form action="#" th:action="@{'/pet/create/' + ${customer.id}}" th:object="${pet}" method="post">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" type="text" th:field="*{name}" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
					
					<label>Health Problem</label>
					<input class="form-control" type="text" th:field="*{healthProblem}" th:classappend="${#fields.hasErrors('healthProblem') ? 'is-invalid' : ''}">
					<span class="invalid-feedback" th:if="${#fields.hasErrors('healthProblem')}" th:errors="*{healthProblem}" style="color: red;"></span>
				</div>
				<div class="form-group">
					<label>Type</label>
					<select class="form-control" th:field="*{type}">
						<option value="null">--</option>
						<option th:each="t : ${T(com.nw.spring.models.AnimalType).values()}" th:value="${t.name()}" th:text="${t.name()}"></option>
					</select>
					
					<label>Age</label>
					<input class="form-control" type="number" th:field="*{age}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save</button>
				</div>
			</form>
		</div>																		
		<div class="col-md-6">
			<div class="card mt-2">
					<div class="card-header bg-secondary text-center text-white">Customer Detail</div>
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th class="border-0">Name</th>
									<td class="border-0" id="id" th:text="${customer.firstName} + ' ' + ${customer.lastName}">
								</tr>
								<tr>
									<th class="border-0">Phone</th>
									<td class="border-0" th:text="${customer.phone}"></td>
								</tr>
								<tr>
									<th class="border-0">Address</th>
									<td class="border-0" th:text="${customer.address}"></td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<div class="card-footer bg-secondary text-muted text-right">
						<a href="/customers" class="btn btn-info btn-sm"><i class="fas fa-chevron-circle-left"></i> Customers</a>
						<!-- <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-success btn-sm"><i class="far fa-edit"></i> Edit</a> -->
					</div>
				</div>
		</div>
	</div>
	<!-- <div class="col-md-12 row" style="padding-top: 35px;">
		<div class="card" style="width: 18rem; margin-left: 5%;">
			<div class="card-header">Information</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"
					th:text="'Name : ' + ${customer.firstName} + ' ' + ${customer.lastName}"></li>
				<li class="list-group-item"
					th:text="'Phone no. : ' + ${customer.phone}"></li>
				<li class="list-group-item" th:text="'Email : ' + ${customer.email}"></li>
				<li class="list-group-item"
					th:text="'Address : ' + ${customer.address}"></li>
			</ul>
			<a href="#" th:href="@{/customers}" class="btn btn-primary btn-sm">View
				All Customers</a>
		</div>
		<div style="padding-top: 35px;">
			<h1>
				<span>Create Animal</span>
			</h1>
			<div class="alert alert-warning alert-dismissible fade show"
				role="alert" th:if="${message}">
				<strong th:text="${message}"></strong>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="#" method="post"
				th:action="@{'/pet/create/' + ${customer.id}}" autocomplete="off"
				th:object="${pet}">
				<div class="form-group row">
					<label>Name</label> <input type="text"
						class="form-control col-sm-4 ml-2" th:field="*{name}" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" /><span
						th:if="${#fields.hasErrors('name')}" style="color: red;"
						th:errors="*{name}" class="invalid-feedback"
						></span>
					<label class="ml-2">Select Type</label> <select name="type"
						class="form-control col-sm-4 ml-5" th:field="*{type}">
						<option value="null">--</option>
						<option
							th:each="t : ${T(com.nw.spring.models.AnimalType).values()}"
							th:value="${t.name()}" th:text="${t.name()}"></option>
					</select>
				</div>
				<div class="form group row">
					<label>Age</label> <input type="number"
						class="form-control col-sm-4 ml-4" th:field="*{age}" /> <label
						class="ml-2">Health Problem</label> <input type="text"
						class="form-control col-sm-4 ml-3" th:field="*{healthProblem}" th:classappend="${#fields.hasErrors('healthProblem') ? 'is-invalid' : ''}" />
					<span class="invalid-feedback" th:if="${#fields.hasErrors('healthProblem')}"
						style="color: red;" th:errors="*{healthProblem}"></span>
				</div>
				<button type="submit" class="btn btn-success btn-sm"
					style="margin-top: 15px; margin-left: 35px;">
					<i class="fa fa-save"></i> Save
				</button>
			</form>
		</div>
	</div> -->
	<script src="/webjars/jquery/3.4.1/jquery.min.js"
		type="text/javascript"></script>
	<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"
		type="text/javascript"></script>
</body>
</html>