<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/5.14.0/css/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div>
		<div th:replace="fragments/header :: header"></div>
		<div class="indexOne">
			<h1>Welcome To Pet Clinic</h1>
			<img th:src="@{/images/one.jpg}">
		</div>
		<!-- <div class="indexTwo"> -->
			<p>We are happy to offer a number of resources that enable you to learn about how to take better care of your pets. Please feel free to browse our site, particularly the informational articles. The best veterinary care for animals is ongoing nutrition and problem prevention, so becoming knowledgeable about preventative pet care is essential to the ongoing success of your animal’s health. If you have any questions, call (858) 272-1320 .Our office is very easy to get to -- just check out the map below! We also welcome you to subscribe to our newsletter.</p>
			<p>We are happy to see all.</p>

	</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>